devices:
{
	fb: "/dev/fb0";
	vc: "/dev/vc/0";
	tty: "/dev/tty0 /dev/tty3 /dev/tty4";
	alsa: "/dev/snd/controlC0 /dev/aloadC0 /dev/snd/pcmC0D0p"
};
# fb = Framebuffer
# vc = XVirtualConsole
# tty: TTY

apps:
{
	mplayer:
	{
		cmds: "mplayer /usr/bin/mplayer"
		devices: "/dev/fb0 /dev/snd/controlC0 /dev/aloadC0 /dev/snd/pcmC0D0p";
	}
	play:
	{
		cmds: "play ./play"
		devices: "/dev/snd/controlC0 /dev/aloadC0 /dev/snd/pcmC0D0p";
	}
	links:
	{
		cmds: "links2"
		devices: "/dev/fb0 /dev/tty0";
	}
	x:
	{
		cmds: "xinit X x"
		devices: "/dev/fb0 /dev/tty0 /dev/tty3 /dev/tty4 catchall";
	}
	mc:
	{
		cmds: "mc"
		devices: ""
	}
};

