# User-specific files
*.suo
*.user
*.vspscc
*.vssscc

**/bin/*
**/obj/*

*.nupkg
**/packages/*
!**/packages/repositories.config

TestResults/*
Build/output/*

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


_NCrunch_*
.*crunch*.local.xml
*.ncrunchproject
*.ncrunchsolution
